!!! 5
%head
  %title Plex Manager

  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

  %link{ :rel => 'stylesheet', :href => '/css/plex_manager.css', :type => 'text/css', :media => 'screen', :carset => 'utf-8' }/
  %link{ :href => "/css/bootstrap.min.css", :rel => "stylesheet" }/

%body

  .navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        .navbar-brand Plex Manager

  .container{ :style => 'margin-top: 75px;' }
    %ul.list-unstyled
      - @applications.each do |app|
        %li
          %button.service-button.btn.btn-lg{ 'data-route' => app.route, 'data-action' => ( app.process.running? ? 'stop' : 'start' ) }= app.name

  %script{ :src => '/js/jquery-2.0.3.min.js' }
  %script{ :src => '/js/bootstrap.min.js' }
  %script{ :src => '/js/app.js'}
