!!! 5
%head
  %title Plex Manager

  %link{ :rel => 'stylesheet', :href => '/css/plex_manager.css', :type => 'text/css', :media => 'screen', :carset => 'utf-8' }/

  %script{ :src => '/js/jquery-2.0.3.min.js' }
  %script{ :src => '/js/app.js'}

%body
  %h1 Plex Manager

  - @applications.each do |app|
    %h2= app.name
    %dl
      %dt status
      %dd= app.process.running?
      %dt action
      %dd
        - if app.process.running?
          %a{ :class => 'off_button', :href => 'javascript:void(0)', 'data-route' => app.route } shut down
        - else
          %a{ :class => 'on_button', :href => 'javascript:void(0)', 'data-route' => app.route } start up
