!!! 5
%head
  %title Home Theater Manager

  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

  %link{ :rel => 'stylesheet', :href => '/css/hometheater-manager.css', :type => 'text/css', :media => 'screen', :carset => 'utf-8' }/
  %link{ :href => "/css/bootstrap.min.css", :rel => "stylesheet" }/

%body

  .navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        .navbar-brand Home Theater Manager

      .collapse.navbar-collapse
        .nav.navbar-nav.navbar-right
          .button.btn.btn-lg
            #refresh-button.span.glyphicon.glyphicon-refresh

  .container{ :style => 'margin-top: 75px;' }
    %ul.list-unstyled
      - @applications.each do |app|
        %li
          %button.service-button.btn.btn-lg{ 'data-route' => app.route }= app.name

  %script{ :src => '/js/jquery-2.0.3.min.js' }
  %script{ :src => '/js/bootstrap.min.js' }
  %script{ :src => '/js/app.js'}
